@tailwind base;
@tailwind components;
@tailwind utilities;

.CK_blog_contain h2 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  margin: 30px 0px 16px;
}

.CK_blog_contain p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 24px;
  color: #606060;
}

.CK_blog_contain ul {
  font-size: 16px;
  line-height: 34px;
  color: #606060;
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 24px;
}

.CK_blog_contain ol {
  font-size: 16px;
  line-height: 34px;
  color: #606060;
  list-style: decimal;
  padding-left: 20px;
  margin-bottom: 24px;
}

.CK_blog_contain img {
  width: 100%;
  height: 400px;
  border-radius: 20px;
  margin-bottom: 24px;
  object-fit: cover;
}

.CK_blog_contain strong {
  color: #1f2937;
}

@media screen and (max-width: 767px) {
  .CK_blog_contain img {
    height: 240px;
  }
}
